.project
web/bundles/*
app/config/parameters.yml
# Netbeans
# Symfony directories
# Configuration files
nbproject/*
.settings
app/config/deploy.rb
# Capifony
*/logs/*
.buildpath
# Eclipse files
/nbproject
# Bootstrap
vendor/*
*/cache/*
Capfile
app/bootstrap*
web/uploads/*